Django>=5.0
djangorestframework
djangorestframework-simplejwt
django-cors-headers
pandas
scikit-learn
reportlab
gunicorn #runs Django on Render
psycopg[binary] #lets Django connect to PostgreSQL
dj-database-url
python-dotenv
requests